# 阿里云 DashScope Key
DASHSCOPE_API_KEY=sk-0de33314fc0d46f784a5c2394e70174e

# 单模型（可选，默认 qwen-plus）
MODEL_NAME=qwen3.5-flash

# 多模型自动轮换（推荐，逗号分隔；配置后优先使用这个）
MODEL_NAMES=qwen-plus-2025-07-14,qwen3.5-plus,qwen-plus-2025-04-28,qwen3-30b-a3b,qwen-plus-2025-01-25,qwen-plus-2025-09-11,qwen3.5-122b-a10b

# ====== 系统路径配置（可改成服务器路径）======
DATA_DIR=./data
OUTPUT_DIR=./output
LIBRARY_SOURCE_DIR=./data/my_library/source
LIBRARY_OUTPUT_DIR=./output/my_library
TASK_DB_PATH=./data/tasks.db
DEFAULT_INPUT_DIR=./data/my_library/source

# ====== Web 服务配置 ======
WEB_HOST=0.0.0.0
WEB_PORT=8000
WEB_RELOAD=true
